@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.perfil-card{
    display: flex;
    flex-direction: column;
    background-color:#212121;
    color: white;
    width: 280px;
    border-radius: 20px;
    margin-top: 80px;
}

.perfil-image-container{
    display: flex;
    justify-content: center;
}

.perfil-img{
    width: 240px;
    margin-top: 10px;
    height: 134px;
}

.perfil-titulo{
    font-size: 16px;
    text-align: start;
    margin-left: 10%;
    font-weight: 600;
    margin-bottom: 8px;
    padding-top: 8px;
}

.perfil-descripcion{
    font-size: 14px;
    color: rgba(195, 195, 195, 0.701);
    width: 70%;
    margin-left: 10%;
    text-align: start;
    font-weight: 400;
    margin-bottom: 15px;
}

.perfil-precio-boton{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    align-items: flex-end;
    margin-top: auto;
}

.perfil-precio{
    margin-left: 10%;
    cursor: default;
}

.perfil-boton{
    margin-right: 10%;
    background-color: #111;
    width: 100px;
    border-radius: 20px;
    color: rgb(182, 118, 0);
    cursor: pointer;
}

.perfil-boton:hover{
    color: #111;
    background-color:rgb(182, 118, 0);
    box-shadow: 0 0 15px rgb(255, 166, 1);
}

.perfil-boton  span{
    display: flex;
    justify-content: center;
    font-weight: 400;
}

.perfil-card-container{
    width: 1350px;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    max-width: 1350px;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.detail-description{
    font-weight: 300;
    font-size: 16px;
    text-align: start;
    margin-left: 10%;
    margin-bottom: 3px;
    padding-top: 10px;
}

.detail-open-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
}

.detail-open {
    background-color: #111;
    width: 250px;
    border-radius: 20px;
    color: rgb(182, 118, 0);
    cursor: pointer;
    box-shadow: none;
    border: none;
    margin-bottom: 12px;
    padding: auto;
}


.detail-open:hover{
    color: #111;
    background-color:rgb(182, 118, 0);
    box-shadow: 0 0 15px rgb(255, 166, 1);
}

.close-detail-container{
    display: block;
}

.close-detail-container{
    display: inline-block;
    text-align: center;
}

.detail-close{
    background-color: #111;
    width: 250px;
    border-radius: 20px;
    color: rgb(182, 118, 0);
    cursor: pointer;
    box-shadow: none;
    border: none;
    margin-bottom: 12px;
    padding: auto;
    margin-top: 10px;
}

.detail-close:hover{
    color: #111;
    background-color:rgb(182, 118, 0);
    box-shadow: 0 0 15px rgb(255, 166, 1);
}


.itemCart{
    display: flex;
    width: 80%;
}

.cart-image-container{
    display: flex;
    height: 200px;
    align-items: center;
}

.cart-img-detail{
    height: 100px;
}

.cart-text-container{
    display: flex;
    align-items: center;
    height: 200px;
}

.cart-detail-text-container{
    display: flex;
    gap: 70px;
    color: white;
}

.cart-titulo-detail{
    font-size: 24px;
    text-align: start;
    font-weight: 600;
    margin-bottom: 3px;
    color: white;
    width: 350px;
    padding-right: 10px;
}

.itemCartContainer{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.cart-detail-text-container button{
    margin-right: 16px;
}

.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 70px; 
  }

.totalPrice{
    font-size: 24px;
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
}

.finalizar-container{
    text-align: center;
}

.cart-close{
    background-color: #111;
    width: 150px;
    border-radius: 20px;
    color: rgb(182, 118, 0);
    cursor: pointer;
    box-shadow: none;
    border: none;
    font-weight: 500;
}

.cart-close:hover{
    color: #111;
    background-color:rgb(182, 118, 0);
    box-shadow: 0 0 15px rgb(255, 166, 1);
    font-weight: 500;
}

.finalizar-btn{
    background-color: #111;
    width: 350px;
    height: 40px;
    font-weight: 600;
    font-size: 18px;
    border-radius: 20px;
    color: rgb(182, 118, 0);
    cursor: pointer;
    box-shadow: none;
    border: none;
}

.finalizar-btn:hover{
    color: #111;
    background-color:rgb(182, 118, 0);
    box-shadow: 0 0 15px rgb(255, 166, 1);
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #212121;
}

.titulo-form{
    color: rgb(182, 118, 0);
    margin-top: 35px;
    margin-bottom: 35px;
}

.form-group{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.nombre-input{
    color: white;
    width: 170px;
}

.checking{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.check-finalizar{
    width: 100%;
    background-color: #111;
    border-radius: 20px;
    color: rgb(182, 118, 0);
    cursor: pointer;
    box-shadow: none;
    border: none;
    margin-bottom: 12px;
    padding: auto;
    margin-top: 10px;
    height: 28px;
}

.check-finalizar:hover{
    color: #111;
    background-color:rgb(182, 118, 0);
    box-shadow: 0 0 15px rgb(255, 166, 1);
}

.back{
    width: 160px;
    background-color: #111;
    border-radius: 20px;
    color: rgb(182, 118, 0);
    cursor: pointer;
    box-shadow: none;
    border: none;
    margin-bottom: 12px;
    padding: auto;
    margin-top: 10px;
    height: 28px;
}

.back:hover{
    color: #111;
    background-color:rgb(182, 118, 0);
    box-shadow: 0 0 15px rgb(255, 166, 1);
}

.error-campos{
    color: rgb(182, 0, 0);
    margin-bottom: 10px;
}

.orden-container{
    display: flex;
    justify-content: center;
    padding: 18px 0;
    color: white;
    text-align: center;
}

.hacer-compra{
    width: 200px;
    text-align: center;
    background-color: #111;
    border-radius: 20px;
    color: rgb(182, 118, 0);
    cursor: pointer;
    box-shadow: none;
    border: none;
    margin-bottom: 12px;
    padding: auto;
    margin-top: 10px;
}


.hacer-compra:hover{
    color: #111;
    background-color:rgb(182, 118, 0);
    box-shadow: 0 0 15px rgb(255, 166, 1);
}

.inicio-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-top: 8%;
}

.cart-image-inicio img{
    width: 600px;
    height: auto;
}

.titulo-inicio{
    font-size: 40px;
    color: white;
}
