@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.perfil-card{
    display: flex;
    flex-direction: column;
    background-color:#212121;
    color: white;
    width: 280px;
    border-radius: 20px;
    margin-top: 80px;
}

.perfil-image-container{
    display: flex;
    justify-content: center;
}

.perfil-img{
    width: 240px;
    margin-top: 10px;
    height: 134px;
}

.perfil-titulo{
    font-size: 16px;
    text-align: start;
    margin-left: 10%;
    font-weight: 600;
    margin-bottom: 3px;
}

.perfil-descripcion{
    font-size: 14px;
    color: rgba(195, 195, 195, 0.701);
    width: 70%;
    margin-left: 10%;
    text-align: start;
    font-weight: 400;
    margin-bottom: 15px;
}

.perfil-precio-boton{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    align-items: flex-end;
    margin-top: auto;
}

.perfil-precio{
    margin-left: 10%;
    cursor: default;
}

.perfil-boton{
    margin-right: 10%;
    background-color: #111;
    width: 100px;
    border-radius: 20px;
    color: rgb(182, 118, 0);
    cursor: pointer;
}

.perfil-boton:hover{
    color: #111;
    background-color:rgb(182, 118, 0);
    box-shadow: 0 0 15px rgb(255, 166, 1);
}

.perfil-boton  span{
    display: flex;
    justify-content: center;
    font-weight: 400;
}

.perfil-card-container{
    width: 1350px;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    max-width: 1350px;
    flex-wrap: wrap;
  }